@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --bg: #c7c7c7;
    --white: #ededed;
    --black: #3b3b3b;
    --blue: #8fbaff;
}

body {
    background: var(--bg);
}

#wrapper {
    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#form-wrapper {
    padding-bottom: 20px;
    height: auto;
    width: 33.33333%;

    box-shadow: 4px 4px 10px #3b3b3b;

    background: var(--white);
}

.form-field {
    display: flex;
    flex-direction: column;

    margin: 10px 0;
}

.form-field > input {
    font-size: 20px;

    border-style: solid;
    box-sizing: border-box;
    border-radius: 5px;
}

#submit {
    font-family: 'Staatliches', cursive;
    font-size: 30px;

    margin: 10px 0;

    border: 0px;
    box-shadow: 4px 4px 10px;

    color: var(--white);
    background: var(--black);
}

#submit:hover {
    color: var(--black);
    background: var(--white);
}