@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --bg: #c7c7c7;
    --white: #ededed;
    --black: #3b3b3b;
    --blue: #8fbaff;
}

body {
    background: var(--bg);
}

#navbar {
    font-family: 'Staatliches', cursive;
    font-size: 22px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    background: var(--black);
}

#navbar > a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 33.33%;
    height: 100%;
}

#navbar > a:hover {
    color: var(--black);
    background: var(--white);
}

#navbar > a:link, a:visited {
    text-decoration: none;
    color: var(--white);
}

#wrapper {
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    position: absolute;
    top: 60px;
    left: 0;
    height: 100%;
    width: 100%;
}

section {
    margin: 15px 0 0 0;
    height: 50%;
    width: 27.5%;

    box-shadow: 4px 4px 10px #3b3b3b;

    background: var(--white);
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    

    margin: 0 0 0 0;
    height: auto;
    min-height: 100%;
    width: 40%;
}

.post {
    display: block;

    margin: 20px auto;
    padding: 0 20px;
    height: auto;
    width: 85%;

    border-left: 2px solid;
    box-sizing: border-box;
}