<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>Flask Blog - {{ title }}</title>
        {% else %}
        <title>Flask Blog - Welcome!</title>
        {% endif %}

        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    </head>
    <body>
        <div id="navbar">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="#">Contact</a>
        </div>
        
        <div id="wrapper">
            <section id="profile"></section>
            <section id="main-content">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert-{{ category }}">
                            <em>{{ message }}</em>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </section>
            <section id="control-panel"></section>
        </div>

    </body>
</html>